body{
    background-color: #feecfb;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: -200px;
}
.logo{
    display: flex;
    margin-top: -50px;
    margin-left: -50px;
}
a:link{
    color:rgb(215, 111, 160);
}
.banner{
    display: flex;
    align-self: center;
    margin-top: 100px;
    margin-left: 300px;
    border-radius: 100px;
}
.p1{
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    border-width: 10px;
}
.p1:hover p{
   resize: 150px;
}